/*
 * Dropit v1.1.0
 * http://dev7studios.com/dropit
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* These styles assume you are using ul and li */
.dropit {
    list-style: none;
	padding: 0;
	margin: 15px 0 0;
    float:right;
    display:inline-block;
}
.dropit .dropit-trigger { position: relative; } /*pushes it to the right side of the page*/
.dropit .dropit-submenu {
    position: absolute;
    top: 100%;
    right: 0; /* dropdown left or right */
    z-index: 1000;
    display: none;
    min-width: 100px;
    list-style: none;
	padding: 20px;
	margin: 20px 0 0;
}
.dropit .dropit-open .dropit-submenu { /*where note, image, link reside: makes the white box*/
    display: block; 
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.30);
    border-radius: 4px;
}


.dropit .dropit-open .dropit-submenu:after { /*adds the white triangle to the box*/
  content: " ";
  position: absolute;
  border-style: solid;
  border-width: 0 8px 8px;
  border-color: #FFFFFF transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -8px;
  right: 10px;
 }
 .dropit .dropit-open .dropit-submenu li {
  display: block;
  margin-bottom: 20px;
 }
 .dropit .dropit-open .dropit-submenu li:last-child {
  margin-bottom: 0px;
 }
 .dropit .dropit-open .dropit-submenu li a {
  color:#322740;
  text-decoration: none;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight:100;
 }





.menu.dropit {
    list-style: none;
    padding: 0;
    margin: 15px 0 0;
    float:right;
    display:inline-block;
}
.menu.dropit .dropit-trigger { position: relative; } /*pushes it to the right side of the page*/
.menu.dropit .dropit-submenu {
    position: absolute;
    top: 100%;
    right: 0; /* dropdown left or right */
    z-index: 1000;
    display: none;
    min-width: 100px;
    list-style: none;
    padding: 20px;
    margin: 20px 0 0;
}
.menu-inverse.dropit .dropit-submenu {
    position: absolute;
    top: -140px;
    right: 0; /* dropdown left or right */
    z-index: 1000;
    display: none;
    min-width: 120px;
    list-style: none;
    padding: 20px;
    margin: 20px 0 0;
}
.menu.dropit .dropit-open .dropit-submenu { /*where note, image, link reside: makes the white box*/
    display: block; 
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.30);
    border-radius: 4px;
}
.menu-inverse.dropit .dropit-open .dropit-submenu { 
    display: block;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.30);
    border-radius: 4px;
}

.menu.dropit .dropit-open .dropit-submenu:before { /*adds the white triangle to the box*/
  content: " ";
  position: absolute;
  border-style: solid;
  border-width: 0 8px 8px;
  border-color: #FFFFFF transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -8px;
  right: 10px;
 }
 .menu-inverse.dropit .dropit-open .dropit-submenu:after {
    content: " ";
    position: absolute;
    border-style: solid;
    border-width: 0 8px 8px;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: 100%;
    right: 8px;
    transform: rotate(180deg);
}
.menu.dropit .dropit-open .dropit-submenu li {
  display: block;
  margin-bottom: 20px;
 }
.menu.dropit .dropit-open .dropit-submenu li:last-child {
  margin-bottom: 0px;
 }
.menu.dropit .dropit-open .dropit-submenu li a {
  color:#322740;
  text-decoration: none;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight:100;
 }

