html, body{
   overflow-x: hidden;
 }
 body {
   font-family: "Lato", Helvetica, Arial, sans-serif;
   color:#4A4A4A;
 }
 h1, h2, h3, h4 {
   font-family: "Bree Serif", Helvetica, Arial, sans-serif;
 }
 h2 {
   font-size:34px;
   font-weight: normal;
   margin-bottom: 0px;
   margin-top: 80px;
   text-align: center;
}
 h3 {
    margin: 0 0 0px 0;
    font-size: 22px;
 }
 h5 {
  font-family:  "Lustria", Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 10px 0 40px 0 ;
  font-size: 18px;
 }
 h6 {
   font-family: "Lustria", Helvetica, Arial, sans-serif;
   margin: 10px 0px 10px 0px; 
 }
 
 p {
   font-size:16px;
   line-height: 19px;
   font-weight: 100;
   margin: 10px 0 20px 0;
 }

 /*Visibility*/
 .mobile-show {
  display: block !important;
 }

 .mobile-hide {
  display: none !important;
 }

 @media (min-width: 992px) { 

    .mobile-show {
      display: none !important;
    }


    .mobile-hide {
      display: block !important;
    }
 }



  /* GRID */
 .container {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
 }
 .container:before,
 .container:after {
   content: " ";
   display: table;
 }
 .container:after {
   clear: both;
 }
 .one-half, .one-third, .one-fourth {
   width:96%;
   float:left;
   position:relative;
   min-height: 1px;
   margin:0 2% 0 0;
 }

/* Media Queries */
 @media (min-width: 768px) {
   .container {
     width: 750px;
   }
 }
 @media (min-width: 992px) {
   .container {
     width: 970px;
   }
   .one-half {
     width:46%;
   }
   .one-third {
     width:29.33333%;
   }
   .one-fourth {
     width:21%;
   }
 }
 @media (min-width: 1200px) {
   .container {
     width: 1170px;
   }
 }



/* HEADER-HERO */
 header {
   color:#4A4A4A;
   background: #FFFCD5;
   background-image: ;
 }
 header nav {
   padding:0;
 }
 header nav ul {
   display:inline;
   margin: 20px 0 20px 50%;
 }

 header nav ul > li {
   list-style-type: none;
   display: inline-block;
   margin:10px 20px 10px 0;
   font-family: Bree Serif;
 }
 header nav ul > li a {
 }
 header nav ul > li.btn-outline {
   padding:10px 15px;
   border:1px solid #4A4A4A;
   border-radius: 4px;
 }
 header nav ul > li.btn-outline:hover {
   background:#FFFFFF;
 }
 header nav ul > li > a {
   color:#4A4A4A;
   text-decoration: none;
 }
 header nav ul > li.btn-outline:hover > a {
   color:#4A4A4A;
 }


  header nav .one-half img{
    display: block;
    margin: auto;
    width: 100%;
 }
  header nav .site-logo {
    display: block;
    margin: auto;
    width: 15%;
    padding: 100px 0 20px 0;
  }

  header nav ul > li > a {
   color:#4A4A4A;
   text-decoration: none;
 }

  header nav ul .btn-outline {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding:10px 15px;
    border:1px solid #4A4A4A;
    border-radius: 4px;
 }
  
    header nav h3 {
    margin: 0 13% 0 13%;
   }
    header nav .herobuttons ul {
    margin: 0 13% 0 0 ;
    padding: 10px 13% 10px 13%;
    float: left;
   }
    header nav h4 {
    margin: 10px 13% 20px 13%;
    color: #9B9B9B; 
   }
    header nav h4 a {
    color: #4A4A4A;
    text-decoration: none;
   }


  /* UX WORK */
  .uxwork {
    padding: 0 10% 0 10%;
  }
  .uxwork ul{
    list-style-type: none;
  }
   .uxwork .container {
    margin-bottom: 60px
  }
  .uxwork h3 {
    padding-bottom: 10px;
  }
  .uxwork ul li p {
    padding: 0 0 10px 0;
    margin: 0px 20% 0px 0;

  }
  .uxwork ul li a{
    margin: 10px 20% 40px 0;
    display: block;

  }




  /* ABOUT ME */
  .aboutme {
   background: url("../images/GuinaneBW.png"); top center no-repeat;
   background-size: cover;
   color:#4A4A4A;
 }

  .aboutme ul {
    list-style-type: none;
  }
  .aboutme ul li img{
    float: right;
    padding-bottom: 40px;
  }



  /* CONTACT */
  .contact {
   color:#4A4A4A;
   background: #FFFCD5;
   padding-bottom: 80px;
 }
   .contact .site-logo {
      display: block;
      margin: auto;
      width: 12%;
      padding: 60px 1% 0px 1%;
    }
  .contact img {
    display: block;
    margin:auto;
    width:70%;
  }
  .contact h2 {
    margin-top: 0px;
  }
  .contact p {
    text-align: center;
  }
  .contact h4 {
    text-align: center;
  }
  
  .talkforms {
    margin: 0 0 60px 0;
  }

  form {
    text-align: center;
  }
  form button {
    background-color: #FFFFFF;
    border-radius: 4px;
    border-color: none;
    margin: 10px 0 0 0;

  }
  form textarea {
    padding: 30px 14%;
  }

  form label {
    margin: 10px;
    font-family: bree serif;
    color: #4A4A4A;
  }
  form .message {
    margin-bottom: 10px;
  }


/*HORIZONTAL RULE*/
hr.style6 {
  background-color: #fff;
  border-top: 2px dotted #8c8b8b;
  float: center;
}


/*CASE STUDY 1*/
  #header_case {
    background: #FFFCD5;
    padding: 20px;
  }
  .projectlist {
    text-align: center;
    list-style-type: none;
    font-family: lustria;
    color: #4A4A4A;
    background-color: #FFFCD5;
  }

  #summary_case {
    padding: 20px 16%;
    text-align: center;
    color: #4A4A4A;
  }
  #summary_case img {
    width: 100%;
  }
  #summary_case ul li {
    list-style-type: none;
  }
  #summary_case h2 {
    padding: 0 0 0 0;
    margin-top: 40px;
  }
  #summary_case .challenge {
    background-color: #FFFCD5;
    padding: 50px;
  }

  #summary_case .results {
    background-color: #FFFCD5;
    padding: 50px;
  }


  /* FOOTER */
  .footer {
   color:#FFFFFF;
   background: #9B9B9B;
   font-family: Bree serif;
   padding: 0px;
  }
  .footer p {
    margin: 40px 0 40px 0;
    text-align: center;
  }
  .icons {
    padding: 0 30px 0 0;
  }
  .footer ul {
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .footer ul li {
    display: inline-block;
    padding-right: 10px;
    margin: 40px 0 40px 0;
  }
  .footer ul li a{
    color: white;
    text-decoration: none;
    text-align: center;
  }
  .navfoot li {
    padding-left: 10px;
  }


 /* BUTTONS */
 .btn {
   text-decoration: none;
   list-style-type: none;
   text-align: center;
   padding:10px 15px;
   border-radius: 4px;
   border: 1px solid #4A4A4A;
   color:#4A4A4A;
 }







